.navigation {
    background-color: #000000;
    padding: 10px;
  }
  
  .nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
    justify-content: flex-end; /* Aligns the navigation to the right */
  }
  
  .nav-item {
    position: relative;
  }
  
  .nav-link {
    text-decoration: none;
    color: #37d437; /* Gold color for links */
    font-weight: 600;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 15px;
    border-radius: 25px; /* Rounded button style */
    transition: all 0.3s ease;
    cursor: pointer; /* Changes cursor to pointer */
  }
  
  /* Hover effects */
  .nav-link:hover {
    color: #343a40; /* Dark background color */
    background-color: #d4af37; /* Gold background on hover */
  }
  
  .nav-link svg {
    transition: transform 0.3s ease;
  }
  
  .nav-link:hover svg {
    transform: scale(1.2); /* Icon enlarges slightly on hover */
  }
  
  /* Active link styling */
  .active .nav-link {
    background-color: #d4af37;
    color: #343a40; /* Dark color for active state */
  }
  
  /* Header styling */
  .header-container {
    background-color: #343a40; /* Dark background color */
  }
  
  .header-logo {
    height: 120px;
  }
  
  .header-auth {
    text-align: right;
  }
  
  .header-auth .btn {
    margin-left: 10px;
  }
  